@font-face {
    font-family:Arabic;
    src: url(../fonts/Cairo-Regular.ttf);
}
@font-face {
    font-family: Arabic1;
    src: url(../fonts/Lalezar-Regular.ttf);
}

@font-face {
    font-family: Arabic2;
    src: url(../fonts/ReemKufi-Regular.ttf);
}

html,
body {
	height: 100%;
     font-family:  Arabic;
    direction: rtl;
    background:#f7f7f7 ;
	
}
.llogo2 {
    float: left;
    padding: 40px 3px;
    margin-right: 0px;
    
    font-size: xxx-large;
    font-family: Arabic2;
    
}
.llogo {
    float: left;
    padding: 10px 0;
    margin-right: 0px;
    
    font-size: xx-large;
    font-family: Arabic2;
    
}
.llogo2 span {
    margin-right: 10px;
    font-family: Arabic;
    font-size: small;
}
h6.logo2.d-inline-block.align-bottom {
    font-size: 12px;
     font-family: Arabic;
}
.fa-facebook ,.fa-snapchat,.fa-twitter,.fa-instagram,.fa-youtube {
  
    color: #5a7bb9;
   
    margin: 2px;
    font-size: 35px;
    
}
    .fa-twitter {
      color: #7fcaed;  
        
}
.fa-instagram {
 
    color: #606465;

}

.fa-youtube {
    color: #de745b;

}

.fa-snapchat {
    color: #ffff00;
    
}
.fab:hover{
    opacity: .2;
    
}


@font-face {
    font-family: ' Arabic';
    src: url(../fonts/Cairo-Regular.ttf);
}
p.logo2.d-inline-block.align-bottom {
    padding-top: 70px;
}
.hero
{background:url(../img/hero.jpg) no-repeat ;
    background-size:cover;
    
height: 400px;;
    font-size: 70px;
    margin-bottom: 0px;
 background-position: center;}
.overlay{
  
    background: (0,0,0,0.1);
    border: 50px;
    height: 100%;
     text-align: center;
 
}

p {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}
.overlay>p{
    color: #fff;
    padding: 50px;
    font-size: 50px;  
    padding-top: 120px;
}
img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.header-section  button {
    margin: 0 20px;
}


.section-title {
	margin-bottom: 40px;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.section-title p {
	color: #666666;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.back-top {
    width: 40px;
    height: 40px;
    background: rgba(30, 97, 206, 0.7);
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
}

.back-top:hover {
    background: rgba(27, 76, 155, 0.);
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	padding: 14px 30px;
	color: #ffffff;
	background: #009603;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Quantico", sans-serif;
}

.site-btn {
	font-size: 15px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Quantico", sans-serif;
	display: inline-block;
	padding: 14px 30px 12px;
	background: #009603;
	border: none;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: url(../img/c2.jpg) no-repeat ;
    background-size: cover;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.nav-menu ul li .dropdown li a:hover{
   background: white;
    color: #1477ae;
    
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}



.header-section.header-normal {
	-webkit-box-shadow: 0px 5px 25px rgba(170, 170, 170, 0.1);
	box-shadow: 0px 5px 25px rgba(170, 170, 170, 0.1);
}

.logo {
	float: left;
	padding: 30px 0;
	margin-right: 80px;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	float: left;
}

.nav-menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.nav-menu ul li:last-child {
	margin-right: 0;
}

.nav-menu ul li:hover .dropdown {
	top: 86px;
	opacity: 1;
	visibility: visible;
}

.nav-menu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu ul li.active a:after {
	opacity: 1;
}

.nav-menu ul li a {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111111;
	display: block;
	padding: 32px 8px 30px;
	position: relative;
	font-family: "Quantico", sans-serif;
}

.nav-menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: #5a7bb9;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 105px;
	background: #5a7bb9;
	width: 180px;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu ul li .dropdown li a {
	color: #ffffff;
	padding: 5px 18px;
	font-weight: 400;
	text-transform: capitalize;
}

.nav-menu ul li .dropdown li a:after {
	display: none;
}
.nava{
    margin-top: 0px;
}
footer .copyright {
    text-align: center;
    background: #114583;
    margin-top: 50px;
}
footer .copyright p {
    color: #fff;
    margin-bottom: 0;
}

footer .copyright a {
    text-decoration: none;
    color: rgba(156, 213, 234, 0.83);

    font-size: 21px;
}

 

.btn-danger {
    color: #fff;
     background-color: #007bff;
    border-color: #007bff;}

h5.heading {
   margin-right: 50px;
    text-align: right;
    color: #1477ae;
    font-size: 35px;
    font-weight: bold;
}
.map iframe{
    width: 100%
}
.breaking-news {
    background: #1477ae;
   
    width: 1000px;
    
    margin: 25px auto;
  
}
.card-img-top{
    height: 230px;
    width: 440px;    
}
.ca span{
    color: chartreuse;
    font-size: 100px;
}

.card-body a{
    color: #fff;
}
.carousel p {
    color: aliceblue;
    text-align: right;
    margin: 3px 0;
    padding: 5px;
    font-size: 18px;
}


span.adv {
    background: red;
    padding: 10px;
    font-size: 18px;
    color: #fff;
}
img.rounded.float-left {
    width: 300px;
}
.aboutR h2{
    text-align: right;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom:30px; 
    color: #1477ae;
}
.aboutR p {
    font-size: 25px;
    text-align: right;
    font-weight: bold;
}
.aboutR p a {
    font-size: 40px;
   
}
.aboutrow{
    margin: 10px 0;
    background:#fff;
    border-radius: 20px;
}
.imagesR {
    text-align: right;

}
.publicR{
    height: 100%;
    margin: 30px 0;
       background:#fff;
    border-radius: 20px;
    padding-bottom: 20px;
}
.imagesR  h2{
    text-align: right;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom:20px; 
    color: #1477ae;
}
.imagesR p {
    font-size: 20px;
    text-align: right;
}
.imagesR   a {
    font-size: 20px;
    color: #fff;
    background: #1477ae;
    border-radius: 50px;
    text-align: center;
    width: 50px;
    margin: 200px;
    
   
}
.im img {
    height: 120px;
    width: 180px;
}
.imagesR iframe {
    margin-bottom: 50px;
}
.pb{
    margin : 5px;
    margin-bottom: 54px;
   
   
}
.ptn{
    text-align: center;
}
.im.col-sm-4 {
    
    padding: 0;
}
.imagesR a {
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 50px;
    text-align: center;
    width: 50px;
    padding: 2px 60px;
    margin: 0 170px;
    margin-bottom: 100px;
}


.puplicimg {
   
  
   text-align: right;
    margin: 100px 250px;
}
.puplicimg p{
     text-align: right;
    
}
.imp col-sm-3{
   margin: 5px;
     width: 100%;
}
.fa-chevron-right {
    content: "\f054";
    background: #1477ae;
    border-radius: 50%;
    padding: 7px 10px;
    text-align: center;
     
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 40px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: rgb(255, 255, 255);
   margin-bottom: 10px
}
.fa-chevron-left {
    content: "\f054";
    background: #1477ae;
    border-radius: 50%;
    padding: 7px 10px;
    text-align: center;
     
    
}
.carousel {
    position: relative;
    margin: 0px 100px;
}
.controls-top {
    margin: 10px 0px;
    text-align: center;
}
p{
    font-size: 23px;
    font-weight: 100px;
}
.puplicimg.my-4 {
    margin: 0 120px;
}

/* ----------------------class-----------------*/

.class a img{
    border:solid;
border-radius: 50px;
    margin-top: 100px ;
  
    
}
.classes{
 
    background:url(../img/c1.jpg) no-repeat;
    background-size:cover;
     height:100%;
   

    background-position: center;
    }

.class1{
    margin-bottom: 50px;
    


}
.c1 {
    padding-top: 100px;
}
.classes1{
 
    background:url(../img/c1.jpg) no-repeat;
    background-size:cover;
     height:65%;
   

    background-position: center;
    }